<html>
<head>
	<style>
		body{
			font-family:"arial";
			font-size: 15px;
		}
		}
	</style>
</head>
<body>
<p> &Agrave; empresa {EMPRESA}</p>

<p>{MENSAGEM}</p>
<p>Solicitamos o envio dos documentos listados abaixo, para o fechamento da compet&ecirc;ncia {COMPETENCIA}</p>
<table>
	<tr><td width=300><strong>Arquivo</strong></td><td><strong>Formato</strong></td></tr>
	{ITENS}
</table>
<p>Os arquivos devem ser encaminhados para a pasta Contabil, no mes {COMPETENCIA} do OneDrive<br>
	Favor confirmar via  e-mail ({EMAIL}).
</p>
<p>No aguardo,</p>
<img class="img img-responsive" src='http://www.triangulocontabil.com.br/web/{ASSINATURA}'>
</body>
