<html>
<head>
	<style>
		body{
			font-family:"arial";
			font-size: 15px;
		}
		}
	</style>
</head>
<body>
<p> &Agrave; empresa {EMPRESA}</p>

<p>{MENSAGEM}</p>
<p>Solicitamos o envio dos documentos listados abaixo, para o fechamento da compet&ecirc;ncia {COMPETENCIA}</p>
<table>
	<tr><td width=300><strong>Arquivo</strong></td><td><strong>Formato</strong></td></tr>
	{ITENS}
</table>
<p>Os arquivos devem ser encaminhados para o e-mail {EMAIL}<br>
</p>
<p>No aguardo,</p>
<img src='http://192.168.0.104:8080/web/{ASSINATURA}'>
</body>
