<html>
<head>
	<style>
		.table{
			border: 0px dotted #000fff;
		}
		td, th{	
			border-top:1px dotted;
			border-right:1px dotted;
		}
	</style>
</head>
<body>

<p>Caro <strong>Cleiton / Cleio | empresa: CJS SOLU&Ccedil;OES EM INFORMATICA LTDA-ME</strong></p>

<!--
<p>Acesse o documento <a href="http://www.trianguloconabil.com.br/sistema/view/vis_docsenviados.php?id=11&via=E-mail">clicando aqui</a></p>
-->
<p>Documento(s) publicado(s) no portal:</p>
		<table class="table">
			<tr>
				<th width=40%>Imposto / Tributo</th>
				<th>Arquivo</th>
				<th>Visualizar</th>
			</tr>
			<tr>
						<td>DAS</td>
						<td>008_Apuração Fiscal_072018.xlsx</td>
						<td>
							<a href="http://www.triangulocontabil.com.br/sistema/view/vis_docsenviados.php?id=11&via=Email">Visualizar</a>
						</td>
					</tr><tr>
						<td>DAS</td>
						<td>Simples Nacional.pdf</td>
						<td>
							<a href="http://www.triangulocontabil.com.br/sistema/view/vis_docsenviados.php?id=12&via=Email">Visualizar</a>
						</td>
					</tr><tr>
						<td>DAS</td>
						<td>008_DAS_072018.pdf</td>
						<td>
							<a href="http://www.triangulocontabil.com.br/sistema/view/vis_docsenviados.php?id=13&via=Email">Visualizar</a>
						</td>
					</tr>
	</table>
</p>
<p>Atenciosamente,</p>

<p><img src="../assets/sign/cleber.png"/></p>
</body>
</html>